%h3= I18n.t('title', {:scope => 'devise.otp.token_secret'})
%p= I18n.t('explain', {:scope => 'devise.otp.token_secret'})

= otp_authenticator_token_image(resource)

%p
  %strong
    = I18n.t('manual_provisioning', {:scope => 'devise.otp.token_secret'})
    \:
  %code= resource.otp_auth_secret

%p= link_to I18n.t('reset_otp', {:scope => 'devise.otp.token_secret'}), @resource, :method => :delete

%p
  = I18n.t('reset_explain', {:scope => 'devise.otp.token_secret'})
  %strong= I18n.t('reset_explain_warn', {:scope => 'devise.otp.token_secret'})

- if recovery_enabled?
  %h3= I18n.t('title', {:scope => 'devise.otp.tokens.recovery'})
  %p= I18n.t('explain', {:scope => 'devise.otp.tokens.recovery'})
  %p= link_to I18n.t('codes_list', {:scope => 'devise.otp.tokens.recovery'}), recovery_otp_token_for(resource_name)
